<body style="text-align: center">

<h1>
    Demande de partenariat:
</h1>

<h3>
    Meilleure personne à contacter: {{ data.contactPeople }}
</h3>

<h3>
    Adresse e-mail: {{ data.email }}
</h3>

<h3>
    Nom de l'entreprise: {{ data.companyName }}
</h3>

<h3>
    Site web: {{ data.websiteUrl }}
</h3>

<h3>
    Présentation de l'entreprise: {{ data.aboutCompany }}
</h3>

<h3>
    Lieux de l'entreprise: {{ data.companyAdress }}
</h3>

<h3>
    Pays de l'entreprise: {{ data.companyCountry }}
</h3>

<h3>
    Autre déstination: {{ data.allCountry }}
</h3>

<h3>
    Date de création de l'entreprise: {{ data.companyDate }}
</h3>

<h3>
    Nombre d'employé dans l'entreprise: {{ data.companyWorker }}
</h3>

<h3>
    Nombre de client l'année dernière: {{ data.companyCustomer }}
</h3>

<h3>
    Thématique, région et prix proposé: {{ data.companyInfo }}
</h3>

<h3>
    Budget minimum par personne et par jours: {{ data.companyBudget }}
</h3>

<h3>
    Panier moyen par dossier: {{ data.companyDirectory }}
</h3>

<h3>
    Assurance de l'entreprise: {{ data.companyInsurance }}
</h3>

<h3>
    Autre informations: {{ data.companyMoreInfo }}
</h3>

</body>
