
{% extends "base.html.twig" %}
{% block body %}
    <div class="fixNavbar">
    {{ form_start(contactForm) }}
    {{ form_errors(contactForm) }}
        <div class="ui input focus">
        {{ form_row(contactForm.name) }}
        </div>
            <div class="ui input focus">
        {{ form_row(contactForm.email) }}
            </div>
        {{ form_row(contactForm.message) }}

        <div class="ui button">
            <button type="submit">Envoyé</button>
            {{ form_end(contactForm) }}
        </div>
    </div>
{% endblock %}
