{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ encore_entry_link_tags('inspiration') }}
{% endblock %}

{% block body  %}

    <div class="container" id="padding-for-navbar">
        <h1 class="ui block header inspirationTitle">Les étapes que nous vous conseillons pour chaque mois:</h1>
        <h2 class="h3Title">Janvier</h2>
        <div class="ui three column grid">

                {% for stage in stages %}
                    {% if loop.index  %}
            {% if stage.bestMonth == 1 %}

            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">{{ stage.nameStage }}</a>
                    </div>
                </div>
            </div>

            {% endif %}
                    {% endif %}
                {% endfor %}

            </div>
        <h2 class="h3Title">Février</h2>
        <div class="ui three column grid">
            {% for stage in stages %}
                {% if stage.bestMonth == 2 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h2 class="h3Title">Mars</h2>
        <div class="ui three column grid">
            {% for stage in stages %}
                {% if stage.bestMonth == 3 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h2 class="h3Title">Avril</h2>
        <div class="ui three column grid">
            {% for stage in stages %}
                {% if stage.bestMonth == 4 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h2 class="h3Title">Mai</h2>
        <div class="ui three column grid">
            {% for stage in stages %}
                {% if stage.bestMonth == 5 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h2 class="h3Title">Juin</h2>
        <div class="ui three column grid">
            {% for stage in stages %}
                {% if stage.bestMonth == 6 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h2 class="h3Title">Juillet</h2>
        <div class="ui three column grid">
            {% for stage in stages %}
                {% if stage.bestMonth == 7 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h2 class="h3Title">Août</h2>
        <div class="ui three column grid">
            {% for stage in stages %}
                {% if stage.bestMonth == 8 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h2 class="h3Title">Septembre</h2>
        <div class="ui three column grid">
            {% for stage in stages %}
                {% if stage.bestMonth == 9 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h2 class="h3Title">Octobre</h2>
        <div class="ui three column grid">
            {% for stage in stages %}
                {% if stage.bestMonth == 10 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h2 class="h3Title">Novembre</h2>
        <div class="ui three column grid">
            {% for stage in stages %}
                {% if stage.bestMonth == 11 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h2 class="h3Title">Décembre</h2>
        <div class="ui three column grid">
            {% for stage in stages %}
                {% if stage.bestMonth == 12 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
