{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ encore_entry_link_tags('inspiration') }}
{% endblock %}

{% block body  %}

    <div class="container" id="padding-for-navbar">
        <h1 class="ui block header inspirationTitle">Les étapes que nous vous conseillons pour chaque mois:</h1>
        <h2 class="h3Title">Janvier</h2>
        <div class="ui three column grid">
        {% for stage in stages|slice(-6) %}
            {% if stage.bestMonth == 1 %}
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://placehold.it/1000x400" alt="">
                    </div>
                    <div class="content">
                        <a class="header">{{ stage.nameStage }}</a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
            </div>
        <h3>Février</h3>
        <div class="ui three column grid">
            {% for stage in stages|slice(1, 20) %}
                {% if stage.bestMonth == 2 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h3>Mars</h3>
        <div class="ui three column grid">
            {% for stage in stages|slice(1, 40) %}
                {% if stage.bestMonth == 3 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h3>Avril</h3>
        <div class="ui three column grid">
            {% for stage in stages|slice(1, 25) %}
                {% if stage.bestMonth == 4 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h3>Mai</h3>
        <div class="ui three column grid">
            {% for stage in stages|slice(1, 80) %}
                {% if stage.bestMonth == 5 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h3>Juin</h3>
        <div class="ui three column grid">
            {% for stage in stages|slice(1, 15) %}
                {% if stage.bestMonth == 6 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h3>Juillet</h3>
        <div class="ui three column grid">
            {% for stage in stages|slice(1, 25) %}
                {% if stage.bestMonth == 7 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h3>Août</h3>
        <div class="ui three column grid">
            {% for stage in stages|slice(1, 85) %}
                {% if stage.bestMonth == 8 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h3>Septembre</h3>
        <div class="ui three column grid">
            {% for stage in stages|slice(1, 60) %}
                {% if stage.bestMonth == 9 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h3>Octobre</h3>
        <div class="ui three column grid">
            {% for stage in stages|slice(1, 10) %}
                {% if stage.bestMonth == 10 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h3>Novembre</h3>
        <div class="ui three column grid">
            {% for stage in stages|slice(1, 40) %}
                {% if stage.bestMonth == 11 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h3>Décembre</h3>
        <div class="ui three column grid">
            {% for stage in stages|slice(1, 44) %}
                {% if stage.bestMonth == 12 %}
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="http://placehold.it/1000x400" alt="">
                            </div>
                            <div class="content">
                                <a class="header">{{ stage.nameStage }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
