{% extends 'base.html.twig' %}

{% block body %}
 <h3>Modification du profil</h3>
    <div class="container" id="padding-for-navbar">
    {{ form_start(form) }}

    {{ form_row(form.name, {'label': 'Nom ', 'attr' :{'placeholder':"Entrez votre Nom de famille... " }}) }}
    {{ form_row(form.surname, {'label': 'Prénom', 'attr' :{'placeholder':"Entrez votre Prénom... " }}) }}
    {{ form_row(form.email, {'label': 'Email','attr' :{'placeholder':"Entrez votre email..." }}) }}
    {{ form_row(form.address, {'label': 'adresse', 'attr' :{'placeholder':"Entrez votre adresse... " }}) }}
    {{ form_row(form.mobile, {'label': 'numéro','attr' :{'placeholder':"votre numéro de téléphone..." }}) }}
    {{ form_row(form.password, {'label': 'password','attr' :{'placeholder':"entrez votre mot de passe..." }}) }}

    <button type="submit">Enregistrer les modifications   </button>
    {{ form_end(form) }}
</div>

{% endblock %}