{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ encore_entry_link_tags('editClientForm') }}
{% endblock %}

{% block body %}
<div class="container" id="padding-for-navbar">
    <div class="formContainer">
        <h1>Modification du profil</h1>
        
        {{ form_start(form, {
                        'attr': {
                            'class' : 'ui form formulaire'
                        }
                    }) }}
        <div class="field">
            {{ form_row(form.name, {'label': 'Nom ', 'attr' :{'placeholder':"Entrez votre Nom de famille... " }}) }}
        </div>
        <div class="field">
            {{ form_row(form.surname, {'label': 'Prénom', 'attr' :{'placeholder':"Entrez votre Prénom... " }}) }}
        </div>
        <div class="field">
            {{ form_row(form.email, {'label': 'Email','attr' :{'placeholder':"Entrez votre email..." }}) }}
        </div>
        <div class="field">
            {{ form_row(form.address, {'label': 'adresse', 'attr' :{'placeholder':"Entrez votre adresse... " }}) }}
        </div>
        <div class="field">
            {{ form_row(form.mobile, {'label': 'numéro','attr' :{'placeholder':"votre numéro de téléphone..." }}) }}
        </div>

    {{ form_row(form.name, {'label': 'Nom ', 'attr' :{'placeholder':"Entrez votre Nom de famille... " }}) }}
    {{ form_row(form.surname, {'label': 'Prénom', 'attr' :{'placeholder':"Entrez votre Prénom... " }}) }}
    {{ form_row(form.email, {'label': 'Email','attr' :{'placeholder':"Entrez votre email..." }}) }}
    {{ form_row(form.address, {'label': 'adresse', 'attr' :{'placeholder':"Entrez votre adresse... " }}) }}
    {{ form_row(form.mobile, {'label': 'numéro','attr' :{'placeholder':"votre numéro de téléphone..." }}) }}
    {{ form_row(form.imageFile, {'label': "Image ", 'attr' :{'placeholder':"Charger votre image... " }}) }}

        <div class="field">
            <button type="submit" class="ui secondary button">Enregistrer les modifications</button>
        </div>

    {{ form_end(form) }}

    </div>
</div>

{% endblock %}