 <div class="footer_list">
    <ul>
        <li><h5> A PROPOS DE CLICK & TRIP </h5></li>
        <li><a href="{{ path('about_qui_sommes_nous') }}">Qui sommes-nous ?</a> </li>
        <li><a href="{{ path('about_cgu') }}">CGU</a></li>
        <li><a href="{{ path('about_mention_légale') }}">Mentions légales</a>  </li>
        <li><a href="{{ path('about_politique-confidentialite') }}">Politique de confidentialité</a> </li>
        <li><a href="{{ path('about_presse') }}">Presse</a></li>
        <li><a href="{{ path('about_contact') }}">Contactez-nous</a></li>
        <li><a href="{{ path('about_merci') }}">Merci à nos ululers</a></li>
    </ul>
    <ul>
        <li><h5> JE SUIS UN VOYAGEUR</h5></li>
        <li><a href="{{ path('about_services-associe') }}">Réserver mon vol</a></li>
        <li><a href="{{ path('about_services-associe') }}">Location de véhicule</a></li>
        <li><a href="{{ path('about_services-associe') }}">assurance voyage</a></li>
        <li><a href="{{ path('about_services-associe') }}">Remboursement</a></li>
        <li><a href="{{ path('about_services-associe') }}">Retard et annulation</a></li>
    </ul>
    <ul>
        <li><h5> SUPPORT </h5></li>
        <li><a href="{{ path('about_faq') }}">Foire aux questions</a> </li>
        <li><a href="{{ path('about_devenir-partenaire') }}">Devenir partenaire</a></li>
    </ul>
    <ul>
        <li><h5> SUIVEZ NOUS </h5></li>
        <div class="social">
            <li><a target="_blank" href="https://www.instagram.com/click_and_trip/"><i class="fab fa-instagram fa-2x"></i></a></li>
            <li><a target="_blank" href="https://www.facebook.com/clickandtrip.fr/"><i class="fab fa-facebook fa-2x"></i></a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCvmdl9oBofEd37u_zqpaHtg"><i class="fab fa-youtube fa-2x"></i></a></li>
        </div>
    </ul>
</div>
