<nav class="nav container">
      <img id='mobileLogo' src='https://i.ibb.co/cNqdNvt/logo-click-and-trip-blanc-petit.png' alt='logo click & Trip' a/>
    <div id="mainListDiv" class="main_list">
        <ul class="navlinks">
            <li><a href="{{ path('homepage') }}">Accueil</a></li>
            <li>
                <div class="dropdown">
                    <a href="#" id="dropdown" class="dropbtn">Mon compte</a>
                    <div id="myDropdown" class="dropdown-content">
                        {% if app.user %}
                        <a href="{{ path('profil_mailbox') }}">messages</a>
                        <a href="{{ path('profil_history') }}">historiques</a>
                        {% if instanceofClient(app.user) %}
                            <a href="profile/editclient"> <option value="Info perso">Info perso </option> </a>
                        {% endif %}
                        {% if instanceofAgency(app.user) %}
                            <a href="/profile/editagency"> <option value="Info perso">Info perso </option> </a>
                        {% endif %}
                        <a href="{{ path('compte_deconnexion') }}">déconnexion</a>
                    </div>
                    {% else %}
                        <a href="{{ path('compte_inscription') }}">Inscription</a>
                        <a href="{{ path('compte_connexion') }}">Connexion</a>
                    {% endif %}
                </div>
            </li>
            <li><a href="{{ path('inspiration') }}">Inspirations</a></li>
            <li  id='laptopLogo'><a href="{{ path('homepage') }}"> <img id="logo" src='https://i.ibb.co/cNqdNvt/logo-click-and-trip-blanc-petit.png' alt='logo click & Trip'/></a></li>
            <li><a href="{{ path('details') }}">Créer Mon Voyage</a></li>
            <li><a href="#">Destinations</a></li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
        </ul>
    </div>
    <span class="navTrigger">
      <i></i>
      <i></i>
      <i></i>
  </span>
</nav>